In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer
from pyspark.sql.functions import when
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql import DataFrame

In [3]:
spark = SparkSession.builder.appName("Restaurant Recommendation System").getOrCreate()

22/01/09 22:42:08 WARN Utils: Your hostname, Furkans-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.37 instead (on interface en0)
22/01/09 22:42:08 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/01/09 22:42:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
# load all csv datasets from raw_data folder
chefmozaccepts = spark.read.format("csv").option("header", "true").load("raw_data/chefmozaccepts.csv")
chefmozcuisine = spark.read.format("csv").option("header", "true").load("raw_data/chefmozcuisine.csv")
chefmozhours4 = spark.read.format("csv").option("header", "true").load("raw_data/chefmozhours4.csv")
chefmozparking = spark.read.format("csv").option("header", "true").load("raw_data/chefmozparking.csv")
geoplaces2 = spark.read.format("csv").option("header", "true").load("raw_data/geoplaces2.csv")
rating_final = spark.read.format("csv").option("header", "true").load("raw_data/rating_final.csv")
usercuisine = spark.read.format("csv").option("header", "true").load("raw_data/usercuisine.csv")
userpayment = spark.read.format("csv").option("header", "true").load("raw_data/userpayment.csv")
userprofile = spark.read.format("csv").option("header", "true").load("raw_data/userprofile.csv")

In [5]:
# raw chefmozaaccepts data
chefmozaccepts.toPandas().head()

  placeID             Rpayment
0  135110                 cash
1  135110                 VISA
2  135110  MasterCard-Eurocard
3  135110     American_Express
4  135110     bank_debit_cards

In [9]:
# replace credit card brands to just 'credit_card' otherwise put 'cash'
chefmozaccepts = chefmozaccepts.withColumn("Rpayment", when(chefmozaccepts.Rpayment!="cash","credit_card")\
                                          .otherwise(chefmozaccepts.Rpayment))
# using string indexer to replace catagorical data to numerical data
indexer = StringIndexer(inputCol="Rpayment", outputCol="RpaymentIndex")
chefmozaccepts = indexer.fit(chefmozaccepts).transform(chefmozaccepts)
chefmozaccepts = chefmozaccepts.drop("Rpayment")

IllegalArgumentException: requirement failed: Output column RpaymentIndex already exists.

In [7]:
# final chefmozaaccepts data
chefmozaccepts.toPandas().head()

  placeID     Rpayment  RpaymentIndex
0  135110         cash            1.0
1  135110  credit_card            0.0
2  135110  credit_card            0.0
3  135110  credit_card            0.0
4  135110  credit_card            0.0

In [8]:
# raw chefmozcuisine data
chefmozcuisine.toPandas().head()

  placeID        Rcuisine
0  135110         Spanish
1  135109         Italian
2  135107  Latin_American
3  135106         Mexican
4  135105       Fast_Food

In [ ]:
# using string indexer to replace catagorical data to numerical data
indexer = StringIndexer(inputCol="Rcuisine", outputCol="RcuisineIndex")
chefmozcuisine = indexer.fit(chefmozcuisine).transform(chefmozcuisine)

In [ ]:
# final chefmozcuisine data
chefmozcuisine.toPandas().head()

In [ ]:
# raw chefmozparking data
chefmozparking.toPandas().head()

In [ ]:
# put 1 if there is a parking lot otherwise put 0
chefmozparking = chefmozparking.withColumn("parking_lot", when(chefmozparking.parking_lot=="none",0)\
                                          .when(chefmozparking.parking_lot!="none",1))

In [ ]:
# final chefmozparking data
chefmozparking.toPandas().head()

In [ ]:
chefmozaccepts = chefmozaccepts.drop("placeID")
chefmozaccepts = chefmozaccepts.drop("Rpayment")
chefmozcuisine = chefmozcuisine.drop("placeID")
chefmozcuisine = chefmozcuisine.drop("Rcuisine")
chefmozparking = chefmozparking.join(chefmozcuisine)
restaurants = chefmozaccepts.join(chefmozcuisine, chefmozaccepts.)

In [ ]:
restaurants.toPandas().head()

In [ ]:
# raw rating_final data 
rating_final.toPandas().head()

In [ ]:
# drop columns except rating column
rating_final = rating_final.drop("food_rating", "service_rating")
rating_final.toPandas().head()